#main{
    margin: -50px;
    display:flex;
    flex-direction: row;
}
#mainLeft{
    flex:4
    
}
#mainMiddle{
    display: flex;
    flex-direction: column;
    flex:2;
    padding-top: 100px;

}
#mainRight{
    padding-left: 150px;
    flex:6;


}
#full_stack{
    padding-left: 30px;
}