
  
   body {
    background: white;
    font-family: 'Open Sans', Arial, Helvetica, Sans-serif, Verdana, Tahoma;
  }
  
  #mainContentWrapper{
    display: flex;
    justify-content: center;
    margin: -2%;
    flex-direction: column;
  }
  #workNav{
    justify-content: center;
    padding-left: 35%;
  }
  .accordion {
    width: 100%;
    max-width: 360px;
    /* margin: 30px auto 20px; */
    background: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
  }
  #accordion{
    padding-left: 40%;
  
  } 
  
  .accordion .link {
    cursor: pointer;
    display: block;
    padding: 15px 15px 15px 42px;
    color: #4D4D4D;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #CCC;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li:last-child .link { border-bottom: 0; }
  
  .accordion li i {
    position: absolute;
    top: 16px;
    left: 12px;
    font-size: 18px;
    color: #595959;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }
  
  .accordion li i.fa-chevron-down {
    right: 12px;
    left: auto;
    font-size: 16px;
  }

  
  .accordion li.open i.fa-chevron-down {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  
  .submenu {
    display: none;
    background: black;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  .submenu li { 
    border-bottom: 1px solid #4b4a5e; 
    color: white;
  }
  
  .submenu a {
    display: block;
    text-decoration: none;
    color: #d9d9d9;
    padding: 12px;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .submenu a:hover {
    background: white;
    color:black;
  }
  #bottomContent{
    margin-bottom: 4%;
    padding-left: 25%;
    display: flex; 
 
    
  }
  #showJourney, #showTweeter, #showSurvey{
    display:flex;
    flex-direction: column;
    max-width: 850px;
  }
p{
  font-family: 'Lato', sans-serif;
}
h1{
  font-family: 'Lato', sans-serif;
}
.linksContainer{
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  
}
a{
  color:black
}